/*Styles for header*/

.mainDiv {
    background-color: white;
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem; 
  flex-grow: 1;
  color: #223548;
  cursor: pointer;
}
.navItems:hover {
    color: #33658A;
}

.signInBtn {
  border: 1px transparent;
  color: #fff;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.signInBtn:hover {
    color: #CDD5DC;
}
.getStartBtn {
  border: 1px transparent;
  background-color: #33658A;
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.getStartBtn:hover {
    color: #CDD5DC;
}

.navTitle {
  color: #33658A;
  font-weight: bold;
  font-size: larger;
}