/*Styles for header*/

.mainDiv {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem; 
  flex-grow: 1;
  color: #223548;
  cursor: pointer;
}
.navItems:hover {
    color: #0191DA;
}

.signInBtn {
  border: 1px transparent;
  color: #0F577C;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.signInBtn:hover {
    color: var(--color-bg-layout);
}
.getStartBtn {
  border: 1px transparent;
  background-color: #33658A;
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.getStartBtn:hover {
  background-color: #0F577C;
}

.navTitle {
  color: #33658A;
  font-weight: bold;
  font-size: larger;
  cursor: default;
}