.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.headDiv {
  text-align: center;
  margin-top: 2rem;
}

.sectionH1 {
  font-size: 2.3rem;
  font-weight: 700;
}

.sectionP {
  font-size: 1.3rem;
}

.table {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 4rem;
  align-items: stretch;
}

.tableCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 25%;
  background-color: #fff;
}

.accuFlowCol {
  background-color: whitesmoke;
}

.accuFlowCol .c2Cell,
.accuFlowCol .c2CellA {
  background-color: whitesmoke;
}

.cellHead,
.cellHead2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
  min-height: 6rem;
  max-height: 6rem;
  overflow: hidden;
}

.cellHead {
  background-color: #fff;
  text-align: start;
}

.cellHead2 {
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  background-color: #000;
}

.c1Cell,
.c2Cell,
.c2CellA {
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  max-height: 4rem;
  overflow: hidden;
}

.c1Cell {
  text-align: left;
}

.c2Cell {
  text-align: center;
}
.c2CellA {
  text-align: center;
  font-weight: bold;
  color: green;
}

.c2Cell .okBtn {
  color: green;
}

.c2Cell .boxBtn {
  color: #ccc;
}

.c2CellA:last-child {
  font-weight: bold;
  color: green;
}

.cellH1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.cellP {
  font-size: 0.95rem;
  font-weight: 500;
}
.cellText {
  flex: 1;
}
