.myBanner {
  background-color: #eeede9;
  height: auto;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5.5rem;
}
.bannerItemsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  padding: 1.5rem 0;
}

.bannerTitle {
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.bannerSubtitle {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.bannerItems {
  text-align: center;
  padding: 1rem;
}
.bannerItemTitle {
  font-weight: bold;
  font-size: 3.0rem;
}
.bannerItemSubtitle {
  font-size: 1.0rem;
}
